# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
data/audio/*
data/video/*
data/logs/*
!data/audio/.gitkeep
!data/video/.gitkeep
!data/logs/.gitkeep

# Dependencies
*.egg-info/
dist/
build/

# Lib sync
bin/
bin/rhubarb
